* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: #003049;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerBox {
    background-color: #8EC5FC;
    padding: 20px;
    margin: 10%;
    border-radius: 10px;
}

#userInput {
    background-color: rgba(250, 250, 250, 0.8);
    border: none;
}

#taskInputBox {
    display: flex;
    justify-content: center;

}

#submitButton {
    background-color: #E0C3FC;
    border: none;
    padding: 10px 30px 10px 30px;
}

#submitButton:hover {
    background-color: #003049;
    color: aliceblue;
}

/*#itemList {
    background-color: rgba(176, 100, 247, 0.6);
    padding: 10px;
    border-radius: 10px;

}*/